/* Main Element */
main {
  max-width: 40rem;
}

/* Restaurants List */
#restaurants-list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

/* Restaurant Item Styling */
.restaurant-item {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(250, 233, 194);
  color: rgb(110, 78, 7);
  text-align: left;
}

/* Restaurant Item Heading */
.restaurant-item h2 {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 1.25rem;
  margin: 0.25rem 0;
}

/* Restaurant Item Paragraph */
.restaurant-item p {
  margin: 0.2rem 0;
  color: rgb(110, 78, 7);
}

/* Restaurant Meta */
.restaurant-meta {
  margin-bottom: 0.5rem;
}

/* Restaurant Meta Paragraph */
.restaurant-meta p {
  color: rgb(170, 148, 95);
}

/* Restaurant Actions */
.restaurant-actions {
  margin-top: 1rem;
  text-align: right;
}

/* Restaurant Actions Links and Buttons */
.restaurant-actions a,
.btn {
  padding: 0.5rem 1.5rem;
  background-color: rgb(202, 158, 62);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

/* Restaurant Actions Links and Buttons Hover and Active States */
.restaurant-actions a:hover,
.restaurant-actions a:active,
.btn:hover {
  background-color: rgb(202, 141, 62);
}